<html>
	<head>
		<title> Tiola Plant Management</title>
	</head>
	<body>
    	Current Time: {{currtime}} <br />
		Current Temperature: {{currtemp}} <br />

    	<form action="/light" method="post">
    		<table>
				<tr>
					<th>On/Off</th>
					<th>Auto-On</th>
					<th>Auto-Off</th>
				</tr>
				{% for light in lights %}
        		<tr>
        			<td>
					<button type=submit name=pin value={{light.pin}}>
						{% if light.state %}
            				<img height="100" src="{{ url_for('static', filename="light_off.png") }}">
						{% else %}
            				<img height="100" src="{{ url_for('static', filename="light_on.png") }}">
						{% endif %}
        				</button>
					</td>
        			<td>
						<input onChange="this.form.submit()" type="time" name="autoon_{{light.index}}" value="{{light.on_time}}">
					</td>
        			<td>
						<input onChange="this.form.submit()" type="time" name="autooff_{{light.index}}" value="{{light.off_time}}">
					</td>
				{% endfor %}
	    	</table>
		</form>
	</body>
</html>

